*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
background-color: hsl(229, 57%, 11%);  
background-image: url(../images/bg-desktop.png);
background-repeat: no-repeat;
background-size: 100vw 50vh;
background-position: center bottom;
height: 100vh;
}

@media (max-width: 640px) {
 body{
 background-size: 238% 105%;  
 display: flex;
 flex-wrap: wrap;
 align-items: flex-end;
}
}

main{
width:64%;
margin: 0 auto;    
padding: 44vh 0 0 0;
display: grid;  
grid-template-columns: 38% 62%;
column-gap: 0.9375rem;
max-width: 1440px;
}

@media (max-width: 640px) {
   main{
 display: flex;  
 flex-direction: column;  
 width: 90%;
 padding: 20vh 0 0 0;
}
}

main > div{
background-color: hsl(228, 56%, 26%);  
padding: 1.875rem;  
border-radius: 0.5rem;
}

@media (max-width: 528px) {
main > div{
padding: 0.625rem;  
}
}

.icons{
border-top-right-radius: 20% 50% ; 
}

.big img{
width: 6.25rem;  
}

@media (max-width: 642px) {
.big img{
width: 3.5rem;
}    
}

@media (max-width: 640px) {
  .big img{
width: 7rem; 
margin: 1.5625rem;
}
}

.small {
display: flex;
align-items: center;
margin-top: 0.8rem;
}

@media (max-width: 642px) {
.small{
flex-direction: column;       
}
}

.si
{
background-color: hsl(229, 57%, 11%);
padding: 0.6rem;
border-radius: 0.5rem;
margin-right: 0.5rem;
}

@media (max-width: 642px) {
.si{
margin-top: 0.5rem;       
}
}

@media (max-width: 640px) {
    .small {
    flex-direction: row;
    margin: 0 1.25rem 1.25rem;
  }

  .small img {
    width: 1.1rem;
  }

  .si {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 0.5rem;
  }
}


.small img{
width: 0.9rem;
}

.storage{
position: relative;  
font-size: 0.875rem;  
color:  hsl(243, 100%, 93%);  
margin-top: 2rem;
}

.raleway {
font-family: "Raleway", sans-serif;
font-weight: 400;
font-style: normal;
}

p:first-child span{
font-weight:700 ;
}

.tooltip {
position: absolute;
top: -2.5rem;
right: 1.875rem;
background: white;
color: hsl(229, 57%, 11%);
font-weight: 700;
font-size: 1.5625rem;
padding: 0.625rem 0.9375rem;
border-radius: 0.5rem;
display: flex;
gap: 0.5rem;
align-items: center;
}

@media (max-width: 640px) {
 .tooltip{
right: 0;
top: 7.8125rem;    
left: 50%;
transform: translateX(-50%);
font-size: 1.875rem;
}
}

@media (max-width: 528px) {

  .tooltip {
    padding: 5px 10px;
}

.pyramide{
   display: none;
}
}

.tooltip span {
font-weight: 400;
font-size: 10px;
color: hsl(229, 7%, 55%);
padding-top: 0.6rem;
}

.pyramide {
position: absolute;
bottom: -0.9375rem;
right: 0;
width: 0;
height: 0;
border-width: 0.9375rem;
border-style: solid;
border-color: transparent white transparent transparent;
}

@media (max-width: 640px) {
   .storage {
    margin-top: 1rem;
  }

  .storage > p:first-of-type {
    margin: 1.25rem 1.25rem 0.9375rem;
    text-align: center;
  }

  .storage div:last-child {
    margin-bottom: 2.5rem;
  }
}


.storage p:nth-child(2) span {
font-weight: 400;
color:hsl(229, 7%, 55%) ;
font-size: 0.5625rem;  
padding-top: 0.7rem;
}

.bar-container {
width: 100%;
height: 0.9375rem;
background-color: hsl(229, 57%, 11%); 
border-radius: 0.625rem;
overflow: hidden;
position: relative;
margin: 0.9375rem 0 0.3125rem;
}

.bar-fill {
height: 82%;
width: 81.5%;
background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
border-radius: 0.625rem;
transition: width 0.3s ease-in-out;
position: absolute;
top: 7.5px;
left: 0.5%;
transform: translateY(-50%);
}

.bar-fill::after {
content: '';
right: 0.5%;
top: 0.0625rem;
width: 0.625rem;
height: 0.625rem;
border-radius: 50%;
background-color: white;
position: absolute;
}

.storage p:last-child { 
position: absolute;
top: 5rem;
right: 1.875rem;
}

@media (max-width: 725px) {
.storage p:last-child {
top:5.9375rem
}
}

@media (max-width: 528px) {
.storage p:last-child {
top: 5rem;
}  
}

@media (max-width: 640px) {
 .storage p:last-child {
top: 5.9375rem;
}  
}

.storage div:last-child{
font-weight: 700;
}

footer{
background-color: hsl(228, 56%, 26%);
margin: 34vh 0 ;
padding: 0.7rem;
line-height: 2;
text-align: center;
color:  hsl(229, 7%, 55%);
}

footer a{
color: hsl(243, 100%, 93%);  
text-decoration: none
}

footer a:hover {
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline;
}

@media  (max-width: 1500px){
footer{
margin: 44.2vh 0 0;
width: 100%;
}  
}

@media  (max-width: 642px){
footer{
margin: 22vh 0  0;
}  
}

@media  (max-width: 528px){
footer{
margin: 28.5vh 0  0;
}  
}

@media (max-width: 640px) {
 footer{
margin: 25vh 0 0;
}  
}
